main .features {
    float: left;
    color: #696969;
    margin-top: 100px;
    text-align: left;
    width: 75%;
}

main .features h3 {font-size: 16px}
main .features p {max-width: 400px; margin: 20px auto}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 20px;
}

.alert-warning {
    float: center;
    clear: both;
    width: 600px;
    margin: 5px 32%;
    text-align: left;
}

.table {
    font-size: 14px;
    width: 100%;
}

