<div class="alert alert-warning">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Identifier</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        {% if ingredient.cas_numbers %}
        <tr>
            <td>CAS Numbers:</td>
            <td>{% for cas in ingredient.cas_numbers %}{{ cas }}, {% endfor %}</td>
        </tr>
        {% endif %}
        {% if ingredient.ec_numbers %}
        <tr>
            <td>EC Numbers:</td>
            <td>{% for ec in ingredient.ec_numbers %}{{ ec }}, {% endfor %}</td>
        </tr>
        {% endif %}
        {% if ingredient.e_number %}
        <tr>
            <td>E Number:</td>
            <td>{{ ingredient.e_number }}</td>
        </tr>
        {% endif %}
        {% if ingredient.functions %}
        <tr>
            <td>Functions:</td>
            <td>
                {% for func in ingredient.functions %}
                {{ func }},
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if ingredient.colour_index %}
        <tr>
            <td>Colour Index number:</td>
            <td>{% for ci in ingredient.colour_index %}
                {{ ci }},
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if ingredient.pubchem_cid %}
        <tr>
            <td>Pubchem CID:</td>
            <td>
                <a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ ingredient.pubchem_cid }}">{{ ingredient.pubchem_cid }}</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>