{% extends 'index.html' %}
{% block title %}
{{ ingredients.main_name }}
{% endblock %}

{% block content %}
    {% if ingredient.hazard %}
    <div class="alert alert-warning">
        <h7>{{ ingredient.main_name }} </h7>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Hazard Class</th>
                <th scope="col">Hazard Category</th>
                <th scope="col">Hazard Statement Code</th>
                <th class="col">Number of Notifiers</th>
                <th class="col">Confirmation Status</th>
            </tr>
            </thead>
            <tbody>

            {% for item in ingredient.hazard.hazard_ghs_set.all %}
            <tr>
                <td>{{ item.ghs.abbreviation }}</td>
                <td>{{ item.ghs.hazard_category }}</td>
                <td>{{ item.ghs.code }}</td>
                <td>{{ item.number_of_notifiers	}}</td>
                <td>{{ item.confirmed_status }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <h7>Total notifications: {{ ingredient.hazard.total_notifications }} </h7>
        <p>Sourse: <a href="https://echa.europa.eu/information-on-chemicals/cl-inventory-database/-/discli/details/{{ ingredients.hazard.cl_inventory_id }}">European Chemicals Agency (ECHA)</a></p>
    </div>
    {% endif %}
    {% if ingredient.description %}
    <div class="alert alert-warning">
            <p>{{ ingredient.description }}</p>
    </div>
    {% endif %}
{% endblock %}