<div class="alert alert-warning">
    <h7>Product hazard statistic</h7>
    <table class="table table-striped">
        <thead>
        <tr>
	        <th scope="col">Hazard Class</th>
	        <th scope="col">Description</th>
	        <th scope="col">Number of ingredients with this hazard class</th>
	        <th scope="col">Hazard scale score</th>

        </tr>
        </thead>
        <tbody>
        {% for item in results.detail_hazard_product %}
	        <tr>
		        <td>{{ item.abbreviation }} {{ item.hazard_category }}</td>
		        <td>{{ item.description }}</td>
		        <td>{{ item.num_of_ingredients }}</td>
		        <td>{{ item.hazard_scale_score }}/10</td>
	        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>