.ingredient-hazard-wrapper {    
        display: grid;
        padding: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20px 150px 100px;
        grid-template-areas: 
        "title title title"
        "hazard percent rating"
        "footer footer footer";
        grid-gap: 0.1rem;
        background-color: white;
}

.ingredient-rating-bar {
    padding: 10px;
    grid-area: rating;
    width: 200px;
}

.hazard-scale-bar {
    padding: 10px;
    grid-area: hazard;
}

.percent-notifications {
    padding: 10px;
    grid-area: percent;
}

.footer {
    grid-area: footer;
}

.title {
    grid-area: title;
    padding: 10px;
    text-align: center;
}